@page
@model WalkingDinner.Pages.NewFolder.TestModel

@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<h4>Dinner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dinner.Title" class="control-label"></label>
                <input asp-for="Dinner.Title" class="form-control" />
                <span asp-validation-for="Dinner.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dinner.Description" class="control-label"></label>
                <textarea asp-for="Dinner.Description" class="form-control"></textarea>
                <span asp-validation-for="Dinner.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dinner.Location" class="control-label"></label>
                <input asp-for="Dinner.Location" class="form-control" />
                <span asp-validation-for="Dinner.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dinner.Date" class="control-label"></label>
                <input asp-for="Dinner.Date" class="form-control" />
                <span asp-validation-for="Dinner.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dinner.SubscriptionStop" class="control-label"></label>
                <input asp-for="Dinner.SubscriptionStop" class="form-control" />
                <span asp-validation-for="Dinner.SubscriptionStop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dinner.Price" class="control-label"></label>
                <input asp-for="Dinner.Price" class="form-control" />
                <span asp-validation-for="Dinner.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dinner.IBAN" class="control-label"></label>
                <input asp-for="Dinner.IBAN" class="form-control" />
                <span asp-validation-for="Dinner.IBAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dinner.AdminID" class="control-label"></label>
                <select asp-for="Dinner.AdminID" class ="form-control" asp-items="ViewBag.AdminID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Dinner.AdminEmailAddress" class="control-label"></label>
                <input asp-for="Dinner.AdminEmailAddress" class="form-control" />
                <span asp-validation-for="Dinner.AdminEmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dinner.AccessCode" class="control-label"></label>
                <input asp-for="Dinner.AccessCode" class="form-control" />
                <span asp-validation-for="Dinner.AccessCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dinner.AdminCode" class="control-label"></label>
                <input asp-for="Dinner.AdminCode" class="form-control" />
                <span asp-validation-for="Dinner.AdminCode" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Dinner.IsActivated" /> @Html.DisplayNameFor(model => model.Dinner.IsActivated)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
