@page
@model Pages.IndexModel
@using WalkingDinner.Extensions;
@{
    ViewData[ "Title" ] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Fluid jumbotron</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Sign in</a>
            </div>
        </div>

        <p><a class="navbar-brand" asp-page="@(ModelPath.Get<Setup.IndexModel>())">Create a new dinner</a>.</p>
        <p><a class="navbar-brand" asp-page="@(ModelPath.Get<DebugModel>())">DEBUG</a></p>
    </div>
