@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>Learn about <a class="navbar-brand" asp-page="Setup">WalkingDinner</a>.</p>
        <p>Learn about <a class="navbar-brand" asp-page="Management" asp-route-AdminCode="TEST">WalkingDinner</a>.</p>
    </div>
