@page
@model Pages.IndexModel
@{
    ViewData[ "Title" ] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Fluid jumbotron</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Sign in</a>
            </div>
        </div>

        <p><a class="navbar-brand" asp-page="CreateNew">Create a new dinner</a>.</p>

        @*
            <p><a class="navbar-brand" asp-page="Management" asp-route-AdminCode="uLVpjTzPH9Ve2ct5Q7hfkXoY5OfqVIHLHAg7iEUx" asp-route-DinnerID="1">Admin Page</a></p>
            <p><a class="navbar-brand" asp-page="Overview" asp-route-AccessCode="RDAO-peuuDSf75I4-Qld1Kul-awu-vJ8eS0NdY-C" asp-route-DinnerID="1">Overview Page</a></p>
        *@
    </div>
