@page "{CoupleID}/{AdminCode}"
@model WalkingDinner.Pages.Invitation.EditCoupleModel
@{
    ViewData[ "Title" ] = "Index";
}

<h1>Index</h1>

<h4>Couple</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span asp-validation-for="Couple" class="text-danger"></span>

            <partial name="_CoupleView" for="Couple" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync( "_ValidationScriptsPartial" );}
}