@page "{CoupleID}/{AdminCode}"
@model WalkingDinner.Pages.Invitation.SeeInvitationModel
@{
    ViewData[ "Title" ] = "Landing";
}

<h1>Landing</h1>

<h3><button>BETAAL</button></h3> of <h3> <button>GA DOOR</button></h3>